<div class="student">
  <span class="link">
    <%= link_to student.name, student %>
  </span>
  <div class="full">
    <div>
      <%= student.name %>
    </div>
    <div>
      <%= student.email %>
    </div>
  </div>
</div>
