<div>
  <h2>Online MBA Courses</h2>
  <div>
    <%= render @courses %>
    <%= paginate @courses %>
  </div>
</div>

<div id="admin">
  <div id="fake-data">
    <%= link_to "Generate fake data", fake_data_path, data: { confirm: "Makey fakey?" } %>
  </div>
</div>
