<h2>Teacher</h2>
<%= render @teacher %>

<div>
  <div>
    <strong>Courses:</strong>
  </div>
  <% cache @teacher do %>
    <ul>
      <% @teacher.courses.each do |course| %>
        <li><%= render course %></li>
      <% end %>
    </ul>
  <% end %>
</div>
