<h2>Course</h2>

<div>
  <strong>Name:</strong>
  <%= @course.name %>
</div>

<div>
  <strong>Description:</strong>
  <%= @course.description %>
</div>

<div>
  <strong>Teacher:</strong>
  <%= render @course.teacher %>
</div>

