.courses {
  .teacher {
    display: inline;
    .link {
      display: inline;
    }
  }

  &.show {
    .student .link {
      display: block;
    }
  }

  input[type=submit], .enrolled {
    margin-top: 40px;
    font-size: 24px;
  }
}
