.home {
  #admin {
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid #ccc;
    #fake-data {
      display: inline-block;
      margin-right: 2em;
    }
  }
  .course .link {
    display: block;
  }
}
